.todoListMain {
    padding: 20px 0;
}

.todoListMain h1 {
    padding: 10px 0;
}

.add {
    display: flex;
    justify-content: center;
}

.add input {
    margin-right: 5px;
    font-size: 18px;
    padding: 3px;
    text-align: center;
}

.add button {
    background: #232323;
    color: white;
    border: none;
    padding: 10px;
}

.todoListMain ul {
    margin-top: 15px;
}

.todoListMain ul li {
    font-size: 18px;
    padding: 3px;
    list-style-type: none;
    font-weight: 500;
}